{% extends "layout.html" %}
{% block content %}

<!-- About card -->
<div class="card col-12" style="margin-bottom:1rem">
  <div class="card-body">
    <h5 class="card-title">About</h5>
    <p class="card-text">RNAsamba is a tool for computing the coding potential of RNA sequences using a neural network
      classification model. It can be used to identify mRNAs and lncRNAs without relying on database searches.</p>
  </div>
</div>

<!-- File selection + Button -->
<form class="needs-validation" method=post action="{{ url_for('index') }}" enctype=multipart/form-data novalidate
  style="flex-grow: 100;">
  <div class="card col-12" style="margin-bottom:1rem;">
    <div class="card-body">
      <h5 class="card-title">Use RNAsamba online</h5>
      <p class="card-text">Upload a FASTA file containing transcript sequences (<a class="text-primary"
          href="{{ url_for('static', filename='example.fasta') }}">example</a>). We allow the following file extensions:
        <code>fasta</code>, <code>fa</code> and <code>fna</code>. After submitting your data, you will be redirected to
        a page where you can view and download your results as soon as they are ready.</p>
    </div>
    <!-- File selection + Button -->
    <div class="form-group row files card-body mt-0 pt-0 mb-0 pb-3">
      <!-- File selection -->
      <div class="col-9">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file_id" name="file" required>
          <label class="custom-file-label" for="file_id">Choose a FASTA file (Max.: 50 MB or 50,000 sequences)</label>
          <div class="invalid-feedback">
            Please select a file.
          </div>
        </div>
      </div>
      <!-- Button -->
      <div class="col-3">
        <button type="submit" value=Upload class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
  </div>
</form>

<!-- Installation card -->
<div class="card col-12" style="margin-bottom:1rem">
  <div class="card-body">
    <h5 class="card-title">Use RNAsamba locally</h5>
    <p class="card-text">RNAsamba is available as a package for local installation. It provides a command-line
      which includes a command for training new models and additional options for classification. Check our
      <a class="text-primary" href="https://apcamargo.github.io/RNAsamba/">documentation</a> for details on how to
      install and use RNAsamba.</p>
  </div>
</div>

<!-- Citation card -->
<div class="card bg-light col-12" style="margin-bottom:1rem">
  <div class="card-body">
    <h5 class="card-title">Cite RNAsamba</h5>
    <p class="card-text" style="margin: 0px;">"RNAsamba: neural network-based assessment of the protein-coding
      potential of RNA sequences".</p>
    <p class="card-text text-muted">Camargo, A. P., Sourkov, V., Pereira, G. A. G. & Carazzolle, M. F. &ndash;
      <em>NAR Genomics and Bioinformatics</em> (2020).</p>
    <a class="btn btn-outline-primary btn-sm mr-2" role="button"
      href="https://academic.oup.com/nargab/article/2/1/lqz024/5701461/">Go to article</a>
  </div>
</div>

{% endblock content %}